@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap');
/*Defining the font*/
@font-face{
    font-family: "Domaine display web";
    src: url("../assets/fonts/Domaine-display-bold.woff2") format("woff2");
    font-weight: 700; 
}
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    line-height: 30px;
    box-sizing: border-box;
}
/*----Navbar----*/
.navbar{
    background-color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 40px;
    height: 100px;
    /* border-bottom: 1px solid #ddd; */
}
/*Navbar brand*/
.nav-brand{
    display: inline-block;
    margin-right: auto;
}
.nav-brand a{
    height: 60px;
    display: flex;
    align-items: center;
}
.nav-brand img{
    width: 132px;
    box-sizing: border-box;
}
.nav-ul{
    height: 60px;
    display: flex;
    align-items: center;
}
/*Navbar list styling*/
.nav-li{
    margin: 0 20px;
    padding: 0 20px;
    height: 60px;
    display: flex;
    align-items: center;
}
.nav-li:nth-child(6){
    margin-right: 0;
    padding-right: 0;
}
@media (max-width:991px){
    .nav-li{
        margin: 0;
        font-size: 1.38vw;
    }
}
.nav-li a{
    font-size: 1vw;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}
.nav-li a.active{
    color: #ee236b;
    font-weight: 600;
}
/*Box haiving two spans*/
.nav-container{
    cursor: pointer;
}
.nav-container span{
    display: none;
    height: 1.2px;
    width: 25px;
    color: #fff;
    background-color: #fff;
    margin: 10px 0;
    margin-left: auto;
    transition: all 0.3s;
}
/*Cross icon*/
.cross-icon span:nth-child(1){
    transform: rotate(45deg) translate(8px, 8px);
}
.cross-icon span:nth-child(2){
    transform: rotate(-45deg) translate(-1px, 0px);
}
/*Navbar for smaller screens*/
.nav-sm{
    min-height: calc(100vh - 60px);
    background-color: #000;
    display: none;
    transition: 0.3s;
}
.nav-sm-container{
    display: flex;
    justify-content: center;
    text-align: center;
}
.nav-sm-ul{
    padding-top: 30px;
}
.nav-sm-li{
    list-style: none;
    padding: 20px;
    padding-bottom: 13px!important;
}
.nav-sm-li a{
    font-size: 12vw;
    font-family: "Domaine display web";
    color: #fff;
    text-decoration: none;
    line-height: 120%;
}
.nav-sm-li a.active{
    color: #ee236b;
}
.nav-sm .social-sm ul{
    display: flex;
    justify-content: space-between;
    padding: 0 28px;
    margin-top: 8vw;
}
.social-sm li a{
    font-size: 9.5vw;
    color: #ddd;
    text-decoration: none;
}
@media (max-width:768px){
    .navbar{
        height: 60px!important;
        padding: 0 20px
    }
    .nav-ul{
        display: none;
    }
    .nav-container span{
        display: block;
    }
    .display-true{
        display: block!important;
    }
}

/*----Navbar completes here----*/
