@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap');
/*Defining the font*/
@font-face{
    font-family: "Domaine display web";
    src: url("../assets/fonts/Domaine-display-bold.woff2") format("woff2");
    font-weight: 700; 
}
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    line-height: 30px;
    box-sizing: border-box;
}
/*----Navbar----*/
.navbar{
    background-color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 40px;
    height: 100px;
    /* border-bottom: 1px solid #ddd; */
}
.nav-brand{
    display: inline-block;
    margin-right: auto;
}
.nav-brand img{
    width: 132px;
    box-sizing: border-box;
}
.nav-ul{
    height: 60px;
    display: flex;
    align-items: center;
}
.nav-li{
    margin: 0 20px;
    padding: 0 20px;
}
.nav-li:nth-child(6){
    margin-right: 0;
    padding-right: 0;
}
@media (max-width:991px){
    .nav-li{
        margin: 0;
        font-size: 1.38vw;
    }
}
.nav-li a{
    font-size: 1vw;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}
.nav-li a.active{
    color: #ee236b;
    font-weight: 600;
}
.nav-container{
    cursor: pointer;
}
.nav-container span{
    display: none;
    height: 1.35px;
    width: 25px;
    color: #ddd;
    background-color: #666;
    margin: 10px 0;
    margin-left: auto;
    transition: all 0.3s;
}
.nav-menu-sm{
    display: none;
}
@media screen and (max-width: 768px){
    .navbar{
        height: 60px !important;
        padding: 0 30px!important;
    }
    .nav-brand a{
        min-height: 60px;
        display: flex;
        align-items: center;
    }
    .nav-container span{
        display: block;
    }
    .nav-ul{
        display: none;
    }
    .nav-menu-sm{
        background-color: #000;
        display: flex;
        justify-content: center;
        text-align: center;
        z-index: 100;
    }
    .nav-li-sm{
        font-size: 12vw;
        line-height: 120%;
        list-style: none;
        width: 100%;
        padding: 20px;
        padding-bottom: 13px!important;
    }
    .nav-li-sm a{
        color: #fff;
        text-decoration: none;
        font-family: "Domaine display web";
    }
    .nav-li-sm a.active{
        color: #ee236b;
    }
}

