@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap');
/*Defining the font*/
@font-face{
    font-family: "Domaine display web";
    src: url("../assets/fonts/Domaine-display-bold.woff2") format("woff2");
    font-weight: 700; 
}
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    line-height: 30px;
    box-sizing: border-box;
}
a{
    text-decoration: none!important;
    color: #000;
}
p{
    line-height: 125%;
}
.domaine-txt{
    font-family: "Domaine display web";
    font-size: 1.75vw!important;
}
.cntr-txt{
    text-align: center;
}
@media (max-width:479px){
    .domaine-txt{
        font-size: 22px!important;
    }
}
@media (max-width:767px){
    .domaine-txt{
        font-size: 20px!important;
    }
}
/*----Navbar----*/
.navbar{
    background-color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 40px;
    height: 100px;
    /* border-bottom: 1px solid #ddd; */
}
/*Navbar brand*/
.nav-brand{
    display: inline-block;
    margin-right: auto;
}
.nav-brand a{
    height: 60px;
    display: flex;
    align-items: center;
}
.nav-brand img{
    width: 132px;
    box-sizing: border-box;
}
.nav-ul{
    height: 60px;
    display: flex;
    align-items: center;
}
/*Navbar list styling*/
.nav-li{
    margin: 0 20px;
    margin-top: 10px;
    padding: 0 20px;
    height: 60px;
    display: flex;
    align-items: center;
}
.nav-li:nth-child(6){
    margin-right: 0;
    padding-right: 0;
}
@media (max-width:991px){
    .nav-li{
        margin: 0;
        font-size: 1.38vw;
    }
}
.nav-li a{
    font-size: 1vw;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}
.nav-li a.active{
    color: #ee236b;
    font-weight: 600;
}
/*Box haiving two spans*/
.nav-container{
    cursor: pointer;
}
.nav-container span{
    display: none;
    height: 1.2px;
    width: 25px;
    color: #fff;
    background-color: #fff;
    margin: 10px 0;
    margin-left: auto;
    transition: all 0.3s;
}
/*Cross icon*/
.cross-icon span:nth-child(1){
            transform: rotate(45deg) translate(8px, 8px);
    -webkit-transform: rotate(45deg) translate(8px, 8px);
}
.cross-icon span:nth-child(2){
            transform: rotate(-45deg) translate(-1px, 0px);
    -webkit-transform: rotate(-45deg) translate(-1px, 0px);
}
/*Navbar for smaller screens*/
.nav-sm{
    min-height: calc(100vh - 60px);
    background-color: #000;
    display: none;
    transition: 0.3s;
}
.nav-sm-container{
    display: flex;
    justify-content: center;
    text-align: center;
}
.nav-sm-ul{
    padding-top: 30px;
}
.nav-sm-li{
    list-style: none;
    padding: 20px;
    padding-bottom: 13px!important;
}
.nav-sm-li a{
    font-size: 12vw;
    font-family: "Domaine display web";
    color: #fff;
    text-decoration: none;
    line-height: 120%;
}
.nav-sm-li a.active{
    color: #ee236b;
}
.nav-sm .social-sm ul{
    display: flex;
    justify-content: space-between;
    padding: 0 28px;
    margin-top: 8vw;
}
.nav-sm .social-sm li a{
    font-size: 9.5vw;
    color: #ddd;
    text-decoration: none;
}
@media (max-width:767px){
    .navbar{
        height: 60px!important;
        padding: 0 20px;
    }
    .nav-ul{
        display: none;
    }
    .nav-container span{
        display: block;
    }
    .display-true{
        display: block!important;
    }
}
/*----Navbar ends here----*/

/*----Head section: Works Page----*/
#head{
    background-color: #000;
}
#head{
   width: 100vw;
   padding: 0 0 10vw;
}
#head .head-img{
    width: 78vw;
    margin-top: 7vw;
}
#head h1.head-h1{
    font-size: 13.19vw;
    line-height: 80%;
    font-family: "Domaine display web";
    text-align: right;
    margin: 1.6vw 0vw 0;
    color: #fff;
}
@media (max-width: 480px){
    #head{
        padding-bottom: 15vh!important;
    }
    #head .head-img{
       width: 80vw!important;
       margin-top: 12vh!important;
    }
    #head h1.head-h1{
        margin-top: 2vh 0 0;
        line-height: 100%!important;
        font-size: 16.67vw!important;
    }
}
@media(max-width: 991px){
    #head{
        padding-bottom: 7vh;
    }
    #head h1.head-h1{
       font-size: 11vw;
    }
    #head .head-img{
       width: 70vw;
       margin-top: 7vh;
   }
}
/*Header ends here*/
#works .row{
    position: relative;
    margin: 50px 3vw 0;
}
@media (max-width: 991px){
    #works .row{
        margin: 50px 30px!important;
    }
}   
@media (max-width: 1280px){
    #works .row{
        margin: 50px 60px;
    }
}
#works .main-cont{
    margin-bottom: 3%;
}
#works .chld-cont{
    max-width: 90%;
    position: relative;
    padding: 0;
}
@media (max-width: 991px){
    #works .chld-cont{
        max-width: 85%;
    }
}
@media (max-width: 570px){
    #works .chld-cont{
        max-width: 99%;
    }
    #works .main-cont{
        margin-bottom: 12%;
    }
}
#works img{
    max-width: 100%;
    object-fit: contain;
}
#works h3{
    font-size: 1.67vw;
    line-height: 125%;
    color: #000;
    margin-top: 10px;
}
#works p{
    font-size: 1.38vw;
    font-weight: 100;
}
@media (max-width: 991px){
    #works h3{
        font-size: 20px;
    }
    #works p{
        font-size: 12px;
    }
}
@media (max-width:570px){
    #works p{
        font-size: 16px;
    }
}
#works .contain-desc{
    position: relative;

}
#works .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none!important;
}
#works .overlay p{
    width: 85%;
    color: #fff;
    font-size: 1.4vw;
}
#works .contain-desc:hover .overlay{
    display: flex!important;
}
#wroks .lg-child{
    margin: auto!important;
}
#works .intrinsic-p{
    color: #ff3c78;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}
#works .intrinsic-p:hover{
    color: #000;
}
/*Communication block*/
#works .communication-blk h1{
    font-size: 4.16vw; 
    line-height: 125%; 
    font-family: 'Domaine display web';
    padding-bottom: 33px;
}
#works .communication-blk input{
    display: block;
    width: 100%;
    font-size: 2vw;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    line-height: 1.42857143vw;
    color: #333;    
    background-color: #fff;
    border: 1px solid #ccc;
}
#works .communication-blk input::placeholder{
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    padding-left: 20px;
}
#works .communication-blk label{
    visibility: hidden;
}
@media(max-width: 479px){
    #works .communication-blk h1{
        font-size: 30px;
        padding-bottom: 20px;
    }
    #works .communication-blk input{
        font-size: 16px;
    }
    #works .communication-blk .intrinsic-p{
        font-size: 20px!important;
    }
}
@media (max-width: 767px){
    #works .communication-blk h1{
        padding-bottom: 20px;
    }
}

/*----Work section ends here*/

/*----Contacts section----*/
/* #contacts{
    background-color: #000;
    min-height: 19vw;
    display: flex;
    align-items: center;
}
#contacts .contain{
    padding: 0 70px;    
}
#contacts .contain img{
    width: 13.18vw;
}
@media (max-width: 991px){
    #contacts{
        min-height: 150px;
    }
    #contacts .contain{
        padding: 0 40px;
    }
} */







/*-------------------------------------Work page end here---------------------------------------------*/


/*-----------------------------------------Services---------------------------------------------------*/
#head .services-head-img{
    width: 75vw!important;
}
.services-head{
    /* animation: flowDown 1.22s 0s; */
}
#carousel{
    /* animation: flowUp 1.22s 0s; */
}
#carousel .item{
    margin-left: 5%;
    max-width: 88%;
    cursor: pointer;
    min-height: 27.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#carousel .sub-item{
    width: 80%;
}
#carousel .item h4{
    color: #fff;
    font-size: 3.47vw;
    line-height: 147%;
    font-family: "Poppins", sans-serif;
}
#owl-carousel{
    position: relative;
}
#carousel .owl-nav{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 49.3%;
    transform: translate(-50%,-50%);
}
#carousel .owl-nav button{
    color: #fff;
            transform: scale(5);
    -webkit-transform: scale(5);
    outline: none; 
}
#carousel .owl-nav button:nth-child(1){
    margin-right: 24%;
}
#carousel .owl-nav button:nth-child(2){
    margin-left: 24%;
}
#carousel .owl-nav button:hover{
    background-color: transparent;
}
#carousel .owl-nav button:focus{
    background-color: transparent;
    border-width: 0px!important;
}
#carousel .owl-dots{
    display: none;
}
@media (max-width: 479px){
    #carousel .item{
        min-height: 45vw;
        width: 75%;
        margin: auto;
    }
    #carousel .sub-item{
        width: 75%;
    }
    #carousel .item h4{
        font-size: 5.3vw;
    }
    #carousel .owl-nav button{
        transform: scale(2);
        -webkit-transform: scale(2); 
    }
    #carousel .owl-nav button:nth-child(1){
        margin-right: 42%;
    }
    #carousel .owl-nav button:nth-child(2){
        margin-left: 42%;
    }
}
@media (max-width: 769px){
    #carousel .owl-nav button{
        transform: scale(2);
        -webkit-transform: scale(2); 
    }
}

#offerings{
    padding: 10vw 3vw 9vw;
}
#offerings h2{
    margin-top: 0;
    margin-bottom: 6vw;
    font-family: 'Domaine display web',sans-serif;
    color: #fff;
    font-size: 4.86vw;
    line-height: 140%;
}
#offerings .col-6, #offerings .col-12{
    padding: 0;
}
#offerings .off-parent{
    margin-bottom: 30px;
}
#offerings .wrap{
    max-width: 93%;
    background-color: #fff;
}
#offerings .off-child{
    
}
#offerings .off-child h3{
    margin: 2vw 0 20px;
    font-size: 2.5vw;
    line-height: 113%;
}
#offerings .off-child p{
    margin-bottom: 2.5vw;
    color: #000;
    font-size: 1.11vw;
    line-height: 155%;
    font-weight: 300;
}
#offerings .off-child img{
    max-width: 100%;
    width: 100%;
}
#offerings .off-child .content{
    padding: 0 2vw;
}
#offerings .wrap-9{
    border: 2px dashed #fff!important;
}
#offerings .wrap-9 h3{
    color: #fff;
    margin-top: 2vw;
    margin-bottom: 20px;
    font-size: 2.5vw;
    padding: 0 1.5vw 0;
}
#offerings .wrap-9 .content a{
    display: block;
    text-align: center;
    width: 80%;
    border: 1px solid #fff;
    background-color: rgba(255,255,255,0);
    color: #fff;
    text-transform: capitalize;
    margin-top: 2vw;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 2vw;
    line-height: 165%;
}
@media (max-width: 767px){
    #offerings .off-child .content p{
        display: none;
    }
    #offerings .off-child h3{
        text-align: center;
        font-size: 3.7vw;
    }
    #offerings .wrap-9 h3{
        margin-top: 0vw;
        margin-bottom: 15px;
    }
    #offerings .wrap-9 .content a{
        font-size: 3vw;
        width: 60%;
        margin-bottom: 20px;
    }
}
/*To push the element at the last*/
@media (max-width: 767px){
    .order-last {
      order: 13;
    }
}

#capabilities{
    padding: 3vw 4vw 10vw;
}
#capabilities h2{
    margin-top: 0;
    margin-bottom: 6vw;
    font-family: 'Domaine display web',sans-serif;
    color: #fff;
    font-size: 4.86vw;
    line-height: 140%;
}
#capabilities ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    
}
#capabilities ul li{
    margin: 0 1.5vw;
    font-size: 2.5vw;
    line-height: 119%;
    font-weight: 300;
    margin-top: 3vw;
}
#capabilities ul li span{
    color: #fff;
}
@media (max-width: 550px){
    #capabilities h2{
        margin-bottom: 43px;
        font-size: 8.33vw;
    }
    #capabilities ul{
        flex-direction: column;
    }
    #capabilities ul li{
        font-size: 5.5vw;
    }
}

#clients{
    padding: 7vw 4vw 10vw;
}
#clients h2{
    margin-top: 0;
    margin-bottom: 7vw;
    font-family: 'Domaine display web',sans-serif;
    font-size: 4.86vw;
    line-height: 140%;
}
#clients .col-4, #clients .col-11{
    padding: 0;
}
#clients .col-11{
    margin-bottom: 10.83vw;
    flex-direction: column;
}
#clients .col-11 .row{
    max-width: 85%;
}
#clients .col-4 img{
    max-width: 100%; 
    width: 100%;
    padding-bottom: 2vw;   
}
#clients h4{
    padding-left: 3.2vw;
    color: #000;
    font-size: 2vw;
    line-height: 142%;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 auto 4vw 3.2vw;
}
@media (max-width:767px){
    #clients h4{
        font-size: 5.5vw;
        padding-left: 7vw;
    }
}

/*----Animations----*/

@keyframes flowDown{
    0%{
                transform: translateY(-80vh);
        -webkit-transform: translateY(-80vh);
    }
    100%{
                 transform: translateY(0vh);
         -webkit-transform: translateY(0vh);
    }
}
@keyframes flowUp{
    0%{
                transform: translateY(50vh);
        -webkit-transform: translateY(50vh);
    }
    100%{
                 transform: translateY(0vh);
         -webkit-transform: translateY(0vh);
    }
}

/*Bg-Colors*/
.bg-000{
    background-color: #000!important;
}
.bg-033457{
    background: #033457;
}
.bg-0c76aa{
    background: #0c76aa;
}
.bg-fcad14{
    background-color: #fcad14;
}
.bg-2f2113{
    background-color: #2f2113;
}
.bg-245b91{
    background-color: #245b91;
}
.bg-d3534e{
    background-color: #d3534e;
}
.bg-37ade2{
    background-color: #37ade2;
}
.bg-0a2f2d{
    background-color: #0a2f2d;
}
.bg-e78445{
    background-color: #e78445;
}
.bg-8d2f3bP{
    background-color: #8d2f3b;
}
.bg-00abaf{
    background-color: #00abaf;
}
.bg-323c4a{
    background-color: #323c4a;
}
.bg-6b7a8f{
    background-color: #6b7a8f;
}
.bg-72c064{
    background-color: #72c064;
}
.bg-0081ff{
    background-color: #0081ff;
}
.bg-ff811d{
    background-color: #ff811d;
}
.bg-ffc72a{
    background-color: #ffc72a;
}
.bg-1fb58d{
    background-color: #1fb58d;
}
.bg-ee236b{
    background-color: #ee236b;
}

/*Text colors*/
.txt-ffc72a{
    color: #ffc72a;
}
.txt-1fb58d{
    color: #1fb58d;
}
.txt-ff811d{
    color: #ff811d;
}
.txt-3d9eff{
    color: #3d9eff;
}
.txt-ee236b{
    color: #ee236b;
}
@media (max-width: 550px){
    .txt-sm-1fb58d{
       color: #1fb58d;
    }
    .txt-sm-ffc72a{
       color: #ffc72a;
    }
    .txt-sm-3d9eff{
       color: #3d9eff;
    }
    .txt-sm-ff811d{
       color: #ff811d;
    }
}
